@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background-color: #E5E5E5;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.body-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  min-width: 160px;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
}

.button-apply {
  background-color: #82b3d3;
}

.button-reset {
  font-weight: 400;
  text-transform: capitalize;
  background-color: transparent;
}

.button-favourites {
  background-color: #82b3d3;
}

.button-favourites-selected {
  background-color: #7db54f;
}

.navigation {
  display: flex;
  width: 1060px;
  height: 65px;
  margin: 0 auto;
  padding-right: 70px;
  padding-left: 70px;
}

.navigation-list {
  width: 372px;
  margin: 0;
  padding: 0;
  padding-left: 18px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user {
  max-width: 264px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-logo {
  display: block;
  margin-right: 30px;
}

.navigation-link {
  display: block;
  margin-top: 20px;
  margin-right: 34px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: inherit;
}

.navigation-user .navigation-item {
  display: flex;
  align-items: center;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
  margin: 0;
  display: block;
  color: #ffffff;
}

.navigation-user .navigation-button {
  min-width: 130px;
  padding: 8px 15px;
  text-align: center;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.welcome-image {
  width: 1200px;
  height: 485px;
  background-image: url("../images/index-background.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.welcome-title-image {
  padding-top: 51px;
  display: block;
  margin: 0 auto;
}

.advantages {
  width: 1200px;
  text-align: center;
}

.advantages-main-title {
  margin-top: 63px;
  margin-bottom: 31px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-main-paragraph {
  margin: 0;
  margin-bottom: 90px;
  color: #333333;
}

.advantages-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-list p {
  margin: 0;
  margin-top: 30px;
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}

.number-color {
  color: #000000;
}

.advantages-item {
  width: 400px;
  height: 384;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-special {
  width: 1200px;
  height: 384px;
  display: flex;
  color: #ffffff;
  background-color: #82b3d3;
}

.container-item-text {
  width: 400px;
  height: 384px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-item {
  margin-left: 85px;
  margin-right: 85px;
}

.advantage-illustration {
  width: 800px;
  margin: 0;
}

.illustration {
  height: 384px;
}

.advantages-item-special p {
  color: inherit;
}

.advantages-sublist {
  height: 384px;
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.advantages-subitem-2 {
  background-color: #ffffff;
}

.advantages-subitem-icon {
  padding-bottom: 30px;
}

.advantages-item-4 {
  background-color: rgba(131, 179, 211, 0.2);
}

.hotels-search {
  min-height: 417px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.search-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-paragraph {
  margin: 0;
  margin-bottom: 56px;
  color: #333333;
}

.hotel-search-button {
  max-width: 544px;
  margin: 0 auto;
  padding: 12px 15px;
  display: block;
  font-size: 20px;
  line-height: 36px;
}

.newsletters-subscribtion {
  width: 1200px;
  min-height: 411px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  text-align: center;
  background-image: url("../images/subcribtion-background-index.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #756157;
}

.catalog-newsletters-subscribtion {
  color: #000000;
  background-color: #ffffff;
  background-image: none;
}

.newsletters-subscribtion-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletters-subscribtion-paragraph {
  margin: 0;
  margin-bottom: 46px;
}

.newsletters-subscribtion-form {
  max-width: 800px;
  max-height: 60px;
  margin: 0 auto;
  display: flex;
}

.email-input {
  width: 600px;
  padding-top: 20px;
  padding-right: auto;
  padding-bottom: 20px;
  padding-left: 22px;
  border: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: inherit;
  background-color: #f2f2f2;
}

.subscribe-button {
  width: 200px;
  padding: 12px 15px;
  border: 0;
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
}

.page-footer {
  width: 1060px;
  margin: 0 auto;
  padding: 40px 70px 30px 70px;
}


.page-footer-container {
  display: flex;
  width: 1060px;
  margin: 0;
}

.footer-social {
  min-width: 142px;
  margin-right: auto;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.footer-social-item {
  min-width: 47px;
  min-height: 40px;
}

.contacts {
  width: 720px;
  margin-right: auto;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.contacts-phone {
  text-decoration: none;
  color: inherit;
}

.htmlacademy {
  width: 115px;
}

.htmlacademy-logo {
  margin-top: 8px;
  margin-bottom: 8px;
}

.catalog-filter-container {
  width: 1060px;
  min-height: 298px;
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  padding-right: 70px;
  padding-bottom: 70px;
  padding-left: 70px;
  margin: 0 auto;
  color: #ffffff;
  background-color: #756157;
  background-image: url("../images/catalog/catalog-background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.inner-header {
  width: 494px;
  margin-right: auto;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 60px;
  line-height: 78px;
}

.catalog-hotels {
  font-size: 18px;
  line-height: 21px;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  display: flex;
  font-size: 16px;
  line-height: 21px;
  list-style-type: none;
}

.breadcrumbs-link:not(:last-child) {
  margin-right: 25px;
}

.catalog-filter {
  width: 1060px;
  display: flex;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 21px;
}

.filter-results-title {
  margin: 0;
  margin-right: 191px;
  padding: 0;
  align-self: center;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.filter-results-container {
  width: 1200px;
  height: 1212px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 21px;
}

.filter-results {
  width: 1057px;
  height: 49px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 56px;
  display: flex;
  justify-content: flex-start;

}

.select-control-label {
  width: 386px;
  font-size: 18px;
  line-height: 21px;
}

.select-control {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #E5E5E5;
}

.select-control-filter {
  min-width: 290px;
  margin-right: 78px;
}

.filter-results-view {
  min-width: 156px;
  display: flex;
  align-self: flex-end;
}

.view {
  width: 44px;
  height: 44px;
  margin-right: 8px;
  display: block;
  border: 2px solid #E5E5E5;
}

.view:nth-child(3n) {
  margin: 0;
}

.view-current {
  border: 2px solid #000000;
}

.hotels-list-container {
  width: 1056px;
  height: 876px;
  margin: 0 auto;
  display: flex;
}

.hotels-list {
  width: 1056px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style-type: none;
}

.hotel-card {
  width: 340px;
  margin-right: 18px;
}

.hotel-card:nth-child(3n) {
  margin: 0;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotel-card-link {
  text-decoration: none;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
}


.pagination-container {
  width: 1056px;
  height: 60px;
  margin: 0 auto;
  margin-top: 96px;
  display: flex;
  align-items: center;
}

.pagination {
  width: 400px;
  margin: 0;
  margin-right: 270px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.pagination-item {
  width: 60px;
  height: 60px;
  text-align: center;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 18px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.hotels-on-page {
  min-width: 386px;
  min-height: 49px;
  display: flex;
}

.control-label-bottom {
  min-width: 175px;
  margin-right: 51px;
  align-self: center;
}

.control-bottom {
  min-width: 160px;
}
