@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: bold;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
}

.navigation-button {
  font-size: 16px;
  line-height: 20px;
}

.subscribe-button {
  background-color: #82b3d3;
}

.button-apply {
  font-size: 16px;
  line-height: 20px;
  background-color: #82b3d3;
}

.button-reset {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  background-color: transparent;
}

.hotel-card-button {
  font-size: 16px;
  line-height: 20px;
}

.button-favourites {
  background-color: #82b3d3;
}

.button-favourites-selected {
  background-color: #7db54f;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: inherit;
}

.welcome-image {
  background-image: url("/images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages {
  text-align: center;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-list p {
  font-size: 18px;
  line-height: 21px;
}

.advantages-item {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-special {
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-subitem-2 {
  background-color: #ffffff;
}

.advantages-item-4 {
  background-color: rgba(131, 179, 211, 0.2);
}

.newsletters-subscribtion {
  color: #ffffff;
  background-image: url("/images/subcribtion-background-index.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.catalog-newsletters-subscribtion {
  color: #000000;
  background-image: none;
}

input {
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
}

.contacts-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  /*почему не срабатывает text-decoration: none;?*/
  text-decoration: none;
  color: #000000;
}

.filter-styles {
  color: #ffffff;
  background-image: url("/images/catalog/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 21px;
}

.filter-results-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.select-control,
.select-control-label {
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  /*почему не срабатывает text-decoration: none;?*/
  color: #000000;
}

.hotel-card-type,
.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}
